@charset "utf-8";
/* CSS Document */

.content-header {
	margin-left: 15px !important;
	margin-right: 15px !important;
}
.main_form {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
	padding: 10px;
	border: solid #efebde 2px;
	border-radius: 4px;
	overflow: hidden;
}
.form {
	float: left;
	display: inline;
	width: 100%;
}
.left_form {
	float: left;
	display: inline;
	width: 50%;
}
.right_form {
	float: right;
	display: inline;
	width: 50%;
}
.clear {
	clear: both;
}

.form_element {
	margin-top: 0px;
}
.form_element .label {
	width: 30%;
	float: left;
	display: inline;
	text-align: left;
	font-size: 13px;
	line-height: 25px;
	margin-right: 10px;
	background: none !important;
	color: #333 !important;
}
.form_element .field {
	width: 60%;
	float: left;
	display: inline;
	text-align: left;
	width:auto;
	height:auto;
}

.textbox {
	width: 200px;
	border: solid #bababa 1px;
	font-size: 13px !important;
}
.textbox_small {
	width: 97px;
	border: solid #bababa 1px;
	font-size: 13px !important;
}
.textarea_small {
	width: 300px;
	height: 40px;
	font-size: 13px !important;
}
.textarea_medium {
	width: 200px;
	height: 70px;
	border: solid #bababa 1px;
	font-size: 13px !important;
}
.textarea {
	width: 300px;
	height: 100px;
	border: solid #bababa 1px;
	font-size:13px !important;
}
.textarea_large {
	width: 400px;
	height: 220px;
	border: solid #bababa 1px;
	font-size:13px !important;
}
.width_100_percent {
	width: 91%;
}

.hight_large {
	width: 100%;
	height: 220px;
}
.selectionbox {
	width: 214px;
	border: solid #bababa 1px;
	font-size:13px !important;
}
.checkbox {
	opacity: 1 !important;;
	position: relative !important;
}
.mandatory {
	color: #FF0000
}

.button_panel {
	text-align: right;
	margin-right: 30px;
	margin-top: 15px;
}
.button {
	width: 100px !important;
}
.disabled {
	background: #efebde !important;
}

.k-window-content {
	width: 940px !important;
	overflow: scroll;
}
.k-grid-update {
	margin-left: 15px !important;
}
.k-edit-form-container {
	margin-bottom: 20px;
}

/* =============================================================== */
/* Tabs
 ================================================================ */
.tabs-nav {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

.tabs-nav li {
	float: left;
	line-height: 40px;
	overflow: hidden;
	padding: 0;
	position: relative;
	margin: 0 0 -1px 0;
}

.tabs-nav li a {
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	margin-right: 5px;
	font-size: 10px;
}

.tabs-nav li a {
	background-image: linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -o-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	background-color: #F9F9F9;
	border: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	color: #888;
	display: block;
	letter-spacing: 0;
	outline: none;
	padding: 0 8px;
	text-decoration: none;
	font-weight: bold;
}

.tabs-nav li:first-child a {
	border-left: 1px solid #ddd;
}

.tabs-nav li.active a {
	color: #444;
	font-weight: bold;
}
.tabs-nav li.active a i {
	opacity: 0.8
}
.tabs-nav li i {
	opacity: .5
}

.tabs-nav li.active a, .tabs-nav li a:hover {
	background: #fff;
	border-bottom: 2px solid #fff;
}
.tabs-nav li a.disabled:hover{
	border-bottom: 2px solid #ddd;
}

.tabs-container {
	border: 1px solid #ddd;
	margin: -1px 0 20px;
	overflow: hidden;
	width: 100%;
	line-height: 19px;
	-webkit-border-radius: 0 3px 3px 3px;
	-moz-border-radius: 0 3px 3px 3px;
	/*border-radius: 0 3px 3px 3px;background-image: linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	 background-image: -o-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	 background-image: -moz-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	 background-image: -webkit-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	 background-image: -ms-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	 background-color: #F9F9F9;*/
}

.tab-contents {
	padding: 20px;
}




.row {
	border: solid #bababa 1px; margin:2px; padding:3px; width:87%;float: left; display:inline;
}
.grid-1-3 {
	width: 33.33%;
}
.grid-1-6 {
	width: 16.66%;
}
.grid-1-5 {
	width: 20%;
}
.grid-2-3 {
	width: 60%;
}
.grid-1-4 {
	width: 25%;
}
.grid-1-20 {
	width: 4%;
}
.left {
	float: left;
}
.center {
	text-align: center;
}
.heading {
	font-weight: bold;
	font-size: 12px;
}
.no-margin{ margin:0px !important;}
.width-100{ width:100%; }
.gap{ height: 20px;}
.width_68_percent{
	width:68%;
}
.width_170px{
	width:170px !important;
}
.width-89{
	width:89%;
}
.width-92{
	width:92%;
}
.width-91{
	width:91%;
}
.add-more{width:40px; float: left; display:inline; border: 0px; font-size:14px; line-height:30px;}
.display-none{ display:none; }


/********* validation messag *********/
.help-inline {
    display:block ;
	color:red !important;
}